<h1>admin/muscle_menus/edit</h1>
<table>
  <%= form_with model: @muscle_menu,url: admin_muscle_menu_path, method: :patch do |f| %>
  <%= f.label :メニュー名 %>
    <%= f.text_field :name %>
    <%= f.submit "変更を保存"%>
  <% end %>
</table>