<div class= "about-page">
 <div class= "about-view">
  <h1 class= "wellcome">welcome!!<%= image_tag 'logo4.jpg', size: "150x75" %></h1>
  <div class= "explanatory-text">
   <h3>あなたの筋トレ記録します</h3></br>
   <pre></pre>
   ・筋トレの投稿はマイページのリンクやヘッダーのアイコンをクリックして行えます
   <pre></pre>
   ・カレンダーページから過去の投稿を遡れます<br>
   <pre></pre>
   ・カレンダーページに体重のグラフも記載しているので日々の成果が一目瞭然！
   <pre></pre>
   ・マイページに今まであげた総重量、投稿数に応じたあなたのレベルを記載してあります<br>
   <pre></pre>
   ・ 毎日投稿してより上のレベルを目指しましょう！
   <pre></pre>
   ・SNSのように他のユーザーをフォローやいいねができます<br>
   <pre></pre>
   ・ユーザーの性別や年齢、トレーニングメニューから投稿を検索できます。自分に合ったトレーニングを探してみてください！</br>
  </div>
 </div>
</div>