.header{
  background-color: #333333;
  }


.header-list li a{
  margin-right: 15px;
  color: #FFCC66
}


.main{
  background-color: #FFFFDD;
  min-height:100vh;
}

.profile-container{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
  display:flex;
  justify-content: space-between;
}

.profile{
  width: 50%;
}
.customer-post{
  width: 50%;
}

.post-list{
  display:flex;
  justify-content: space-between;
}

.post:first-child{
  width: 33%;
}

.post:nth-child(2){
  width: 33%;
}

.post:last-child{
  width: 33%;
}

.new-post{
  width: 70%;/*横幅*/
  margin: 0 auto;/*中央寄せ*/
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.caution{
 color: #2196F3;
}

.new-post-child{
  margin: 10px;
}

.icon{
  margin-left: 160px;
}

.customers{
  width: 70%;/*横幅*/
  margin: 0 auto;/*中央寄せ*/
  padding: 50px;
}


table {
  border-collapse: separate;
  border-spacing: 15px;
}

.registration-form{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
}

.sessions-form{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
}

.sample{
  color:#333333 ;
}

// .customer-link{
// color:#333333;
// }

.about-page{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
}

.wellcome{
  text-align: center;
}

.customer-edit-child1{
  padding-left: 150px;
  margin-bottom: 30px;
}

.customer-edit-child{
  padding-left: 150px;
  margin-bottom: 10px;
}
.favorite-post{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
}

.favorite-index{
  margin:0 auto;
}

.post-index{
  width: 70%;
  margin:0 auto;
  padding: 50px ;
}

.index-link{
  margin-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}
.index1{
  margin:0 auto;
}